#cy {
    display: grid;
    place-content: center;
    width: 800px; 
    height: 600px;
    border: 1px solid #44475A;
    background-color: #44475A;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body {
    background-color: #282A36;

}

h1 {
    text-align: center;
    color: #F8F8F2;
}